{% extends 'base.html' %}
{% block content %}
    <section class="u-black u-clearfix u-section-1" id="sec-6a23">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-container-style u-layout-cell u-left-cell u-palette-1-base u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-center u-custom-font u-font-merriweather u-text u-text-custom-color-2 u-text-default u-text-1">About Us<span style="font-weight: 700;">
                      <span style="font-weight: 400;"></span>
                    </span>
                  </h2>
                  <p class="u-align-center u-text u-text-custom-color-2 u-text-2"> Peasher Restaurant and Bar is the first african - carribean restaurant in gravesend<br>kent. We offer delicious African, Carribean cuisine as well as continental dishes<br>with African overtones. Our aim is to deliver delicious meal experience at fantastic<br>prices. It is perfect for special occasions with friends and family and offers great<br>value with a menu choice. We also accommodate smaller parties on a<br>non-exclusive basis perfect for groups that want the private feel with a restaurant<br>atmosphere. The restaurant has a delightful ambiance for customers to dine in 
                  </p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="/static/images/photo_2022-02-22_14-51-133.jpg" data-image-width="1280" data-image-height="681">
                <div class="u-container-layout u-valign-middle u-container-layout-2" src="/static/images/photo_2022-02-22_14-51-133.jpg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
  {% endblock %}