{% extends 'base.html' %}
{% block content %}
    <section class="u-clearfix u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xl u-image u-section-1" id="sec-4986" data-image-width="1280" data-image-height="681">
      <div class="u-align-left-xs u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-xs u-image u-image-default u-image-1" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <h1 class="u-custom-font u-text u-text-custom-color-2 u-text-default-xs u-text-1">OUR MENU</h1>
        <p class="u-text u-text-custom-color-2 u-text-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">DESSERTS MENU</p>
        <img class="u-expanded-width-xs u-hover-feature u-image u-image-default u-image-2" src="images/cosmo-restaurant.jpg" alt="" data-image-width="550" data-image-height="412" data-animation-name="flipIn" data-animation-duration="2500" data-animation-direction="X">
        <p class="u-text u-text-custom-color-2 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">LUNCH MENU</p>
        <img class="u-expanded-width-xs u-image u-image-default u-image-3" src="images/5d483ea2-a610-4a2c-a09b-4ec301d3e412-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="bounceIn" data-animation-duration="2750" data-animation-direction="Left">
        <p class="u-text u-text-custom-color-2 u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">DINNER MENU</p>
        <img class="u-expanded-width-xs u-image u-image-default u-image-4" src="images/d44f288a-deb2-4b33-b7cb-b21d3df4f6d9-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="customAnimationIn" data-animation-duration="1000">
      </div>
      
    </section>
    <section class="u-clearfix u-hidden-lg u-hidden-md u-hidden-xl u-hidden-xs u-image u-section-2" id="sec-cc17" data-image-width="1280" data-image-height="681">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-md u-hidden-xl u-image u-image-default u-image-1" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <h1 class="u-custom-font u-hidden-lg u-hidden-md u-hidden-xl u-text u-text-custom-color-2 u-text-default-xs u-text-1">OUR MENU</h1>
        <p class="u-text u-text-custom-color-2 u-text-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">DESSERTS MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-default u-image-2" src="images/cosmo-restaurant.jpg" alt="" data-image-width="550" data-image-height="412" data-animation-name="flipIn" data-animation-duration="2500" data-animation-direction="X">
        <p class="u-text u-text-custom-color-2 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">LUNCH MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" src="images/5d483ea2-a610-4a2c-a09b-4ec301d3e412-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="bounceIn" data-animation-duration="2750" data-animation-direction="Left">
        <p class="u-text u-text-custom-color-2 u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">DINNER MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" src="images/d44f288a-deb2-4b33-b7cb-b21d3df4f6d9-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="customAnimationIn" data-animation-duration="1000">
      </div>
      
    </section>
    <section class="u-clearfix u-hidden-lg u-hidden-md u-hidden-xl u-hidden-xs u-image u-section-3" id="sec-ec3f" data-image-width="1280" data-image-height="681">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-md u-hidden-xl u-image u-image-default u-image-1" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <h1 class="u-custom-font u-hidden-lg u-hidden-md u-hidden-xl u-text u-text-custom-color-2 u-text-default-xs u-text-1">OUR MENU</h1>
        <p class="u-text u-text-custom-color-2 u-text-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">DESSERTS MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-default u-image-2" src="images/cosmo-restaurant.jpg" alt="" data-image-width="550" data-image-height="412" data-animation-name="flipIn" data-animation-duration="2500" data-animation-direction="X">
        <p class="u-text u-text-custom-color-2 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">LUNCH MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" src="images/5d483ea2-a610-4a2c-a09b-4ec301d3e412-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="bounceIn" data-animation-duration="2750" data-animation-direction="Left">
        <p class="u-text u-text-custom-color-2 u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">DINNER MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" src="images/d44f288a-deb2-4b33-b7cb-b21d3df4f6d9-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="customAnimationIn" data-animation-duration="1000">
      </div>
      
    </section>
    <section class="u-clearfix u-hidden-sm u-hidden-xs u-image u-section-4" id="sec-5a96" data-image-width="1280" data-image-height="681">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-md u-hidden-xl u-image u-image-default u-image-1" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <img class="u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-md u-hidden-xl u-image u-image-default u-image-2" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <img class="u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-xl u-image u-image-default u-image-3" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <img class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-xl u-image u-image-default u-image-4" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <h1 class="u-custom-font u-hidden-lg u-hidden-xl u-text u-text-custom-color-2 u-text-default-xs u-text-1">OUR MENU</h1>
        <p class="u-text u-text-custom-color-2 u-text-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">DESSERTS MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-default u-image-5" src="images/cosmo-restaurant.jpg" alt="" data-image-width="550" data-image-height="412" data-animation-name="flipIn" data-animation-duration="2500" data-animation-direction="X">
        <p class="u-text u-text-custom-color-2 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">LUNCH MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-6" src="images/5d483ea2-a610-4a2c-a09b-4ec301d3e412-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="bounceIn" data-animation-duration="2750" data-animation-direction="Left">
        <p class="u-text u-text-custom-color-2 u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">DINNER MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-7" src="images/d44f288a-deb2-4b33-b7cb-b21d3df4f6d9-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="customAnimationIn" data-animation-duration="1000">
      </div>
      
    </section>
    <section class="u-clearfix u-hidden-lg u-hidden-md u-hidden-xl u-hidden-xs u-image u-section-5" id="sec-884e" data-image-width="1280" data-image-height="681">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-md u-hidden-xl u-image u-image-default u-image-1" src="images/480722223-0.jpeg" alt="" data-image-width="1500" data-image-height="1000">
        <h1 class="u-custom-font u-hidden-lg u-hidden-md u-hidden-xl u-text u-text-custom-color-2 u-text-default-xs u-text-1">OUR MENU</h1>
        <p class="u-text u-text-custom-color-2 u-text-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction="">DESSERTS MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-hover-feature u-image u-image-default u-image-2" src="images/cosmo-restaurant.jpg" alt="" data-image-width="550" data-image-height="412" data-animation-name="flipIn" data-animation-duration="2500" data-animation-direction="X">
        <p class="u-text u-text-custom-color-2 u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">LUNCH MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" src="images/5d483ea2-a610-4a2c-a09b-4ec301d3e412-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="bounceIn" data-animation-duration="2750" data-animation-direction="Left">
        <p class="u-text u-text-custom-color-2 u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">DINNER MENU</p>
        <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" src="images/d44f288a-deb2-4b33-b7cb-b21d3df4f6d9-w300-p1.jpg" alt="" data-image-width="300" data-image-height="488" data-animation-name="customAnimationIn" data-animation-duration="1000">
      </div>
      
    </section>
    
    {% endblock %}