 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/use.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 371px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0 20px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  margin: 40px 20px 60px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -49px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    letter-spacing: 0px;
    margin: 75px auto 0 16px;
  }
} .u-section-2 {
  background-image: url("images/photo_2022-02-22_14-51-13.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 30px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-2 .u-gallery-1 {
    width: 440px;
    margin-top: -86px;
    margin-left: -50px;
    margin-right: -50px;
  }
} .u-section-3 {
  background-image: url("images/photo_2022-02-22_14-51-133.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1228px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 60px;
}

.u-section-3 .u-text-2 {
  margin-left: -35px;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

.u-section-3 .u-line-1 {
  width: 131px;
  height: 5px;
  transform-origin: left center 0px;
  margin: -109px auto 60px -26px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  margin: 238px 49px 60px auto;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-3 .u-form-1 {
  width: 340px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 30px 0 60px 8px;
}

.u-section-3 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-3 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-3 .u-label-4 {
  font-size: 1.125rem;
}

.u-section-3 .u-btn-3 {
  font-size: 1.125rem;
}

.u-section-3 .u-text-3 {
  font-family: Anton;
  font-size: 2.25rem;
  margin: -491px -17px 60px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    margin-top: 20px;
    margin-left: -35px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-size: auto 125%;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin: -125px -34px 0 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 44px 0 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: -164px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 1160px;
    margin-right: 34px;
    margin-bottom: 0;
    padding-right: 2px;
    padding-left: 1px;
  }

  .u-section-3 .u-icon-1 {
    font-size: 4.125em;
  }

  .u-section-3 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    font-size: 1.25rem;
    margin: -1131px auto 0 8px;
    padding: 9px 52px 10px;
  }

  .u-section-3 .u-form-1 {
    margin-bottom: 0;
    margin-top: 152px;
    height: 505px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -567px;
    margin-right: 0;
    margin-left: 74px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/use1.gif");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 401px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0 20px;
}

.u-section-4 .u-list-1 {
  width: 540px;
  margin: 30px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 65px;
  grid-template-columns: calc(33.3333% - 6px) calc(33.3333% - 6px) calc(33.3333% - 6px);
  grid-gap: 9px 9px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-bottom: 0;
  margin-top: 0;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-bottom: 0;
  margin-top: 0;
  padding: 6px 31px 6px 30px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -561px 0 60px;
  padding: 8px 17px 8px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 50px;
    margin-right: -50px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 99px;
    grid-template-columns: calc(50% - 4.5px) calc(50% - 4.5px);
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 69px 13px 68px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 69px 13px 68px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: url("images/photo_2022-02-22_14-51-133.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1360px;
}

.u-section-5 .u-gallery-1 {
  height: 381px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 0 60px;
}

.u-section-5 .u-line-1 {
  width: 131px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 0 156px 60px 10px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 60px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-5 .u-text-3 {
  font-family: Anton;
  font-size: 2.25rem;
  margin: 0 0 60px;
}

.u-section-5 .u-form-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-5 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-5 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-5 .u-label-4 {
  font-size: 1.125rem;
}

.u-section-5 .u-btn-2 {
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 156px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 90px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: -217px;
    margin-left: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-5 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-line-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-5 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 10px auto 0 0;
    padding: 9px 52px 10px;
  }

  .u-section-5 .u-text-3 {
    margin: 112px -183px 0 183px;
  }

  .u-section-5 .u-form-1 {
    height: 505px;
    margin-top: 36px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/use1.gif");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 506px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0 20px;
}

.u-section-6 .u-list-1 {
  width: 720px;
  margin: 54px auto 60px -20px;
}

.u-section-6 .u-repeater-1 {
  min-height: 99px;
  grid-template-columns: calc(50% - 4.5px) calc(50% - 4.5px);
  grid-gap: 9px 9px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
  padding: 13px 69px 13px 68px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
  padding: 13px 69px 13px 68px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 114px;
    margin-right: 0;
    margin-left: 31px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-7 {
  background-image: url("images/photo_2022-02-22_14-51-133.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1572px;
}

.u-section-7 .u-gallery-1 {
  height: 381px;
  width: 0;
  margin: -205px auto 60px 20px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-2 {
  height: 381px;
  width: 0;
  margin: -205px auto 60px -1205px;
}

.u-section-7 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-3 {
  height: 381px;
  width: 0;
  margin: -205px auto 60px 20px;
}

.u-section-7 .u-carousel-indicators-3 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-control-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-4 {
  height: 381px;
  width: 0;
  margin: -885px auto 60px 20px;
}

.u-section-7 .u-carousel-indicators-4 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-control-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-5 {
  height: 381px;
  width: 0;
  margin: -885px auto 60px -1205px;
}

.u-section-7 .u-carousel-indicators-5 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-control-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-6 {
  height: 396px;
  width: 726px;
  margin: 0 -6px 60px auto;
}

.u-section-7 .u-carousel-indicators-6 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-control-11 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-12 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px -6px 60px 0;
}

.u-section-7 .u-line-1 {
  width: 131px;
  height: 5px;
  transform-origin: left center 0px;
  margin: 0 -6px 60px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 60px 86px 60px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-7 .u-gallery-7 {
  height: 396px;
  width: 432px;
  margin: 20px auto 0 0;
}

.u-section-7 .u-carousel-indicators-7 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-7 .u-carousel-control-13 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-14 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-3 {
  font-size: 2.25rem;
  width: auto;
  margin: -1235px 1495px 60px -555px;
}

.u-section-7 .u-line-2 {
  width: 131px;
  height: 5px;
  transform-origin: left center 0px;
  margin: -285px auto 60px -555px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  width: auto;
  margin: -391px 1495px 60px 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-7 .u-line-3 {
  width: 752px;
  height: 0;
  margin: 44px auto 0 0;
}

.u-section-7 .u-line-4 {
  height: 459px;
  transform-origin: center top 0px;
  left: 518px;
  top: 7px;
  position: absolute;
  transform: rotate(1deg);
}

.u-section-7 .u-text-5 {
  font-size: 2.25rem;
  width: auto;
  margin: -1698px 1595px 60px -455px;
}

.u-section-7 .u-line-5 {
  transform-origin: left center 0px;
  left: auto;
  top: 82px;
  position: absolute;
  width: 97px;
  height: 7px;
  right: 491px;
}

.u-section-7 .u-gallery-8 {
  height: 364px;
  width: 364px;
  margin: -1457px auto 0 -455px;
}

.u-section-7 .u-carousel-indicators-8 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-15 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-16 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-9 {
  height: 473px;
  width: 473px;
  margin: 1100px auto 0 28px;
}

.u-section-7 .u-carousel-indicators-9 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-17 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-18 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-text-6 {
  font-size: 2.25rem;
  margin: -440px -459px 0 545px;
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  margin: 39px 39px 0 545px;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 360px 0 auto;
  padding: 15px 54px 17px;
}

.u-section-7 .u-text-8 {
  font-family: Anton;
  font-size: 3rem;
  margin: 346px -366px 0 452px;
}

.u-section-7 .u-form-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: 505px;
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-7 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-7 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-7 .u-form-group-3 {
  margin-left: 0;
}

.u-section-7 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-7 .u-label-4 {
  font-size: 1.125rem;
}

.u-section-7 .u-btn-4 {
  font-size: 1.125rem;
}

.u-section-7 .u-text-9 {
  font-weight: 400;
  width: 214px;
  font-size: 1.875rem;
  margin: 30px 360px 60px 146px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1752px;
  }

  .u-section-7 .u-gallery-1 {
    margin-left: 0;
  }

  .u-section-7 .u-gallery-2 {
    margin-left: 0;
  }

  .u-section-7 .u-gallery-3 {
    margin-left: 0;
  }

  .u-section-7 .u-gallery-4 {
    margin-left: 0;
  }

  .u-section-7 .u-gallery-5 {
    margin-left: 0;
  }

  .u-section-7 .u-gallery-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-line-1 {
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-7 {
    height: 364px;
    width: 364px;
    margin-top: 26px;
  }

  .u-section-7 .u-over-slide-13 {
    padding: 30px;
  }

  .u-section-7 .u-over-slide-14 {
    padding: 30px;
  }

  .u-section-7 .u-text-3 {
    margin: -360px 133px 0 405px;
  }

  .u-section-7 .u-line-2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    margin: 15px 115px 0 405px;
  }

  .u-section-7 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 20px 309px 0 auto;
    padding: 8px 52px 9px;
  }

  .u-section-7 .u-line-3 {
    height: 360px;
    transform-origin: center top 0px;
    left: 376px;
    top: 29px;
    position: absolute;
    transform: rotate(1deg);
  }

  .u-section-7 .u-text-5 {
    margin-right: 1495px;
    margin-bottom: 0;
  }

  .u-section-7 .u-line-5 {
    transform: rotate(1deg);
  }

  .u-section-7 .u-gallery-8 {
    margin-top: -247px;
  }

  .u-section-7 .u-gallery-9 {
    margin-top: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: -634px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-top: 591px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 0;
    margin-right: 160px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 1297px;
    margin-right: -50px;
    margin-left: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1572px;
  }

  .u-section-7 .u-gallery-1 {
    margin-left: 20px;
  }

  .u-section-7 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-7 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-7 .u-gallery-2 {
    margin-left: -1205px;
  }

  .u-section-7 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-7 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-7 .u-gallery-3 {
    margin-left: 20px;
  }

  .u-section-7 .u-over-slide-5 {
    padding: 30px;
  }

  .u-section-7 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-7 .u-gallery-4 {
    margin-left: 20px;
  }

  .u-section-7 .u-over-slide-7 {
    padding: 30px;
  }

  .u-section-7 .u-over-slide-8 {
    padding: 30px;
  }

  .u-section-7 .u-gallery-5 {
    margin-left: -1205px;
  }

  .u-section-7 .u-over-slide-9 {
    padding: 30px;
  }

  .u-section-7 .u-over-slide-10 {
    padding: 30px;
  }

  .u-section-7 .u-gallery-6 {
    width: 720px;
    margin-top: 18px;
    margin-bottom: 0;
    margin-left: -12px;
  }

  .u-section-7 .u-over-slide-11 {
    padding: 30px;
  }

  .u-section-7 .u-over-slide-12 {
    padding: 30px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin: 18px 268px 0 20px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 18px;
    margin-bottom: 0;
    margin-left: 35px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin: 25px 205px 0 35px;
  }

  .u-section-7 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0 auto 0 35px;
    padding: 8px 52px 9px;
  }

  .u-section-7 .u-gallery-7 {
    height: 648px;
    margin-top: -110px;
    margin-left: -50px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 23px;
    margin-left: 295px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 5px;
    margin-left: 295px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 89px;
  }

  .u-section-7 .u-line-3 {
    width: 720px;
    left: 378px;
    margin-top: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 1385px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 5578px;
  }

  .u-section-7 .u-text-7 {
    margin-top: -5621px;
  }

  .u-section-7 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-top: -5573px;
    margin-right: 360px;
    margin-left: 146px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 5749px;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-9 {
    font-weight: 700;
    font-size: 2.25rem;
    width: auto;
    margin-top: -602px;
    margin-right: 213px;
    margin-left: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-7 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-gallery-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-gallery-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-gallery-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-gallery-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-gallery-6 {
    width: 0;
    margin-left: 570px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 570px;
    margin-right: 570px;
  }

  .u-section-7 .u-line-1 {
    width: 0;
    margin-left: 570px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 570px;
    margin-right: 570px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 570px;
  }

  .u-section-7 .u-gallery-7 {
    margin-top: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 138px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-7 .u-line-3 {
    width: 0;
    left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 1295px;
  }

  .u-section-7 .u-gallery-8 {
    margin-top: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: 0;
  }

  .u-section-7 .u-text-7 {
    margin-top: 0;
  }

  .u-section-7 .u-text-8 {
    margin-top: 0;
    margin-left: 570px;
    margin-right: 570px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-9 {
    margin-right: 123px;
    margin-left: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-gallery-7 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -992px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 1195px;
  }

  .u-section-7 .u-gallery-9 {
    height: 340px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-9 {
    margin-right: 23px;
    margin-left: 51px;
    font-size: 1.5rem;
  }
}